/**
 * @name Wapours Global Things
 * @version X.X.X
 * @author Wapour Vave#1388⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Enable Me Please! ->
 * @authorLink https://github.com/WapourVave
 * @description Global Theme for reused elements.
 * @website https://github.com/WapourVave
 * @source https://github.com/WapourVave/discord-global-things
*/
/*-----------------------------------------
-------------------------------------------
            Global Reusable CSS
-------------------------------------------
-----------------------------------------*/
/*-----------------------------------------
				Themes Area
-----------------------------------------*/
/* Hide default BD Theme Icon */
[id="Wapours Global Things-card"] .bd-addon-header .bd-icon path {
  display: none;
}

/* New Theme Icon */
[id="Wapours Global Things-card"] .bd-addon-header {
  background-image: url();
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px 12px;
}

/* New Theme Icon Unicode */
[id="Wapours Global Things-card"] .bd-addon-header:before {
  content: "🌍";
  font-size: 16px;
  position: absolute;
}

/* Remove pre-existing text */
[id="Wapours Global Things-card"] .bd-version,
[id="Wapours Global Things-card"] .bd-author,
[id="Wapours Global Things-card"] .bd-title .bd-link {
  font-size: 0px;
}

/* True AMOLED Version */
[id="Wapours Global Things-card"] .bd-version:after {
  font-size: 14px;
  content: "v1.0.0 ";
}

/* True AMOLED Author */
[id="Wapours Global Things-card"] .bd-author:after,
[id="Wapours Global Things-card"] .bd-title .bd-link:after {
  font-size: 14px;
  content: "Wapour Vave#1388⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Thank You Friend! 🙂";
}

/**
*  MIT License
*
* Copyright (c) 2021 Wapour Vave
*
* Permission is hereby granted, free of charge, to any person obtaining a copy
* of this software and associated documentation files (the "Software"), to deal
* in the Software without restriction, including without limitation the rights
* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
* copies of the Software, and to permit persons to whom the Software is
* furnished to do so, subject to the following conditions:
*
* The above copyright notice and this permission notice shall be included in all
* copies or substantial portions of the Software.
* 
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
* SOFTWARE.
**/
/* Global Animations */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popin-modal {
  0% {
    opacity: 0;
    transform-origin: right;
    transform: scale(0.5, 1);
    -webkit-transform: translate3d(10px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes popin-bubble {
  0% {
    opacity: 0;
    transform: scale(0.9);
    content: "Theme Developer";
    padding: 9px;
    width: 105px;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popout-bubble {
  0% {
    opacity: 1;
    transform: scale(1);
    content: "Theme Developer";
    padding: 9px;
    padding-right: 12px;
    padding-left: 12px;
    width: 105px;
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
    padding: 9px;
    padding-right: 12px;
    padding-left: 12px;
    width: 105px;
  }
}
@keyframes popout-triangle {
  0% {
    opacity: 1;
    transform: scale(1);
    content: "";
    border-width: 10px 11px 0 11px;
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
    border-width: 0px 0px 0 0px;
  }
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------------
	User Badges Fullscreen User Modal
-----------------------------------------*/
/* Make default colour for Banner the current Client Colour */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .banner-2QYc2d {
  background-color: var(--background-primary) !important;
}

/* Banner Default to Client Base Colour */
/*----------------------------------------------------------------------------------*/
/* Padding for Badge */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .badgeList-1R1WgZ [aria-label="HypeSquad Brilliance"] {
  margin-left: 22px;
}

/* Create Badge, Removes Banner */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1 {
  background-image: url("https://steamcommunity-a.akamaihd.net/economy/emoticonlarge/b1");
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 1;
  top: 139px;
  left: 162px;
}

/* Increase margin underneath banner to replace it */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .nameTagNoCustomStatus-3IWmZC {
  margin-top: 196px;
}

/* Place Pencil Profile Edit back to its original location */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .pencilContainer-2TbNwJ {
  display: none;
}

/* Place Avatar back to its original location */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .avatar-AvHqJA {
  top: -144px;
}

/*  Place Badgelist back to its original location */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .headerTop-547GTz {
  top: -60px;
}

/* Hover when the mouse is over the badge */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1:hover {
  cursor: pointer;
  height: 18px;
}

/* Spin on click held */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1:active {
  -webkit-animation: rotate 1s infinite linear;
}

/*----------------------------------------------------------------------------------*/
/* Badge Info Bubble */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1:before {
  -webkit-animation: popout-bubble 0.1s;
  content: "";
  width: 0px;
  color: var(--text-normal);
  font-weight: 500;
  font-size: 14px;
  background-color: var(--background-floating);
  box-shadow: var(--elevation-high);
  border-radius: 6px;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
  position: absolute;
  left: -50px;
  bottom: 45px;
  opacity: 0;
}

/* Bubble Hover */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1:hover:before {
  -webkit-animation: popin-bubble 0.1s;
  content: "Theme Developer";
  width: 105px;
  padding: 9px;
  padding-right: 12px;
  padding-left: 12px;
  opacity: 1;
}

/* Badge Info Triangle */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1:after {
  -webkit-animation: popout-triangle 0.1s;
  content: "";
  border-width: 0px 0px 0 0px;
  border-style: solid;
  border-color: var(--background-floating) transparent transparent transparent;
  position: absolute;
  bottom: 40px;
  left: -2px;
}

/* Triangle Hover */
.fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1:hover:after {
  content: "";
  border-width: 10px 11px 0 11px;
}

/*----------------------------------------------------------------------------------*/
/*-----------------------------------------
	User Badges Popout User Modal
-----------------------------------------*/
/* Change animation for Popout so that the bubble isn't visible */
.userPopout-xaxa6l[data-user-id="142795541833580544"] {
  -webkit-animation: popin-modal 0.4s;
}

/* Fix Creation Date Plugin Bug with Animation */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .creationDate-CJwdKT {
  max-width: 268.021px !important;
}

/* Make default colour for Banner the current Client Colour */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .banner-2QYc2d {
  background-color: var(--background-primary) !important;
}

/*----------------------------------------------------------------------------------*/
/* Padding for Badge, move back to original location */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .profileBadges-ohc0Vu {
  top: 76px;
}

/* Create Badge, Removes Banner */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg {
  background-image: url("https://steamcommunity-a.akamaihd.net/economy/emoticonlarge/b1");
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 1;
  top: 78px;
  left: 170px;
}

/* Increase margin underneath banner to replace it */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .headerTop-3vNv-a {
  padding-top: 124px;
}

/* Place Pencil Profile Edit back to its original location */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .pencilContainer-2TbNwJ {
  display: none;
}

/* Place Avatar back to its original location */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .avatarWrapperNormal-26WQIb {
  top: 16px;
}

/* Hover when the mouse is over the badge */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg:hover {
  cursor: pointer;
  height: 18px;
}

/* Spin on click held */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg:active {
  -webkit-animation: rotate 1s infinite linear;
}

/*----------------------------------------------------------------------------------*/
/* Badge Info Bubble */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg:before {
  -webkit-animation: popout-bubble 0.1s;
  content: "";
  width: 0px;
  color: var(--text-normal);
  font-weight: 500;
  font-size: 14px;
  background-color: var(--background-floating);
  box-shadow: var(--elevation-high);
  border-radius: 6px;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
  position: absolute;
  left: -50px;
  bottom: 44px;
  opacity: 0;
}

/* Bubble Hover */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg:hover:before {
  -webkit-animation: popin-bubble 0.1s;
  content: "Theme Developer";
  width: 105px;
  padding: 9px;
  padding-right: 12px;
  padding-left: 12px;
  opacity: 1;
}

/* Badge Info Triangle */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg:after {
  -webkit-animation: popout-triangle 0.1s;
  content: "";
  border-width: 0px 0px 0 0px;
  border-style: solid;
  border-color: var(--background-floating) transparent transparent transparent;
  position: absolute;
  bottom: 38px;
  left: -2px;
}

/* Triangle Hover */
.userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg:hover:after {
  content: "";
  border-width: 10px 11px 0 11px;
}

/*----------------------------------------------------------------------------------*/
