/*-----------------------------------------
	Theme Area
-----------------------------------------*/

// Variables
$icon-image: url();
$icon-size: 30px;
$icon-position: 10px 12px;

$icon-unicode: "🌍";
$icon-unicode-font-size: 16px;

$version: "v1.1.7 ";
$author: "Wapour Vave#1388⠀⠀⠀⠀⠀⠀⠀⠀⠀Thank You Friend! 🙂";

/* Hide default BD Theme Icon */
[id='Wapours Global Things Live-card'] .bd-addon-header .bd-icon path
{
	display: none;
}

/* New Theme Icon */
[id='Wapours Global Things Live-card'] .bd-addon-header
{
	background-image: $icon-image;
	background-repeat: no-repeat;
	background-size: $icon-size;
	background-position: $icon-position;
}

/* New Theme Icon Unicode */
[id='Wapours Global Things Live-card'] .bd-addon-header:before
{
	content: $icon-unicode;
	font-size: $icon-unicode-font-size;

	position: absolute;
}

/* Remove pre-existing text */
[id='Wapours Global Things Live-card'] .bd-version, 
[id='Wapours Global Things Live-card'] .bd-author, 
[id='Wapours Global Things Live-card'] .bd-title .bd-link
{
 	font-size: 0px;
}

/* True AMOLED Version */
[id='Wapours Global Things Live-card'] .bd-version:after
{
	font-size: 14px;
	content: $version;
}

/* True AMOLED Author */
[id='Wapours Global Things Live-card'] .bd-author:after,
[id='Wapours Global Things Live-card'] .bd-title .bd-link:after
{
	font-size: 14px;
	content: $author;
}
